body,
html {
    background-color: #FFD33E;
    font-family: Helvetica, Arial;
    text-align: center;
    width: 100%;
}
section {
    display: block;
}
figure {
    margin: 0;
}
.title {
    background: black;
    margin: auto;
    width: 800px;
    height: 4em;
    padding: 1em;
}
.title > h1 {
    color: white;
}
.cell {
    display: table-cell;
}
.container {
    width: 480px;
    height: 5em;
    position: relative;
    margin: 0 auto 30px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
.answer {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.answer.flipped {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.answer figure,
.inactive {
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.answer .front,
.inactive {
    background: #FFD33E;
    border: 4px solid #C13237;
    color: #C13237;
    text-align: center;
    outline: 2px solid #FFD33E;
}
.front span {
    background-color: #C13237;
    border: 2px solid #C13237;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    color: white;
    display: block;
    font-size: 2em;
    height: 2em;
    margin: 6px auto;
    width: 3em;
    line-height: 2em;
}
.answer .back {
    background: black;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    outline: 2px solid black;
    font-size: 2.5em;
    text-align: left;
    padding-left:10px;
}
.score {
    background: #C13237;
    position: absolute;
    right: 0;
    width: 2em;
    text-align: center;
}
div#strikesDisplay {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    border: 8px solid #C13237;
    color: #C13237;
    font-size: 8em;
}
.footer {
    background: black;
    color: #CBFFF6;
    bottom: 0;
    left: 0;
    line-height: 2em;
    padding-left: 5px;
    position: fixed;
    text-align: left;
    width: 100%;
    font-size: 1.5em;
}
.strikes {
    float: left;
}
.rounds {
    float: right;
    padding-right: 15px;
}
.rounds > a {
    color: white;
}
.wrapper {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    width: 80%;
}
#background {
    background-color: #62B2A4;
    background-image: -webkit-radial-gradient(white 23%, transparent 24%);
    background-image: -moz-radial-gradient(white 23%, transparent 24%);
    background-image: -o-radial-gradient(white 23%, transparent 24%);
    background-image: radial-gradient(white 23%, transparent 24%);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 12px solid #C13237;
    display: table;
    height: 90%;
    margin-right: auto;
    margin-left: auto;
    min-width: 1024px;
    min-height: 600px;
    position: relative;
    text-align: center;
    width: 90%;
}
#rotating-answers {
    display: table-cell;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}
#score {
    background-color: black;
    border: #FFD33E solid 3px;
    color: #f0f060;
    font-family: "Courier New", Courier, monospace;
    font-size: 7em;
    margin: auto;
    text-align: center;
    width: 1.8em;
}
#wrong {
    position: fixed;
    text-align: center;
    top: 33%;
    width: 90%;
    z-index: 1;
}
#wrong span {
    background-color: white;
    border: 8px solid #C13237;
    color: #C13237;
    font-size: 15em;
    height: 30%;
    margin: 20px;
    width: 100%;
}